<p class="form_item">
  <%= f.check_box :offline %> <%= f.label :offline, 'Offline' %>
</p>

<p class="form_item">
  <span class="label"><%= f.label :name, 'Name' %></span>
  <%= f.text_field :name %>
</p>

<p class="form_item">
  <span class="label"><%= f.label :protocol, 'Protocol' %></span>
  <%= f.text_field :protocol %>
</p>

<p class="form_item">
  <span class="label"><%= f.label :hostname, 'Host Name' %></span>
  <%= f.text_field :hostname %>
</p>

<p class="form_item">
  <span class="label"><%= f.label :username, 'User Name' %></span>
  <%= f.text_field :username %>
</p>

<p class="form_item">
  <span class="label"><%= f.label :password, 'Password' %></span>
  <%= f.text_field :password %>
</p>

<p class="form_item">
  <span class="label"><%= f.label :base_path, 'Base Path' %></span>
  <span class="desc">Leave blank to use the default of <%= @slave.default_base_path %></span>
  <%= f.text_field :base_path, :value => @slave.base_path(:skip_default) %>
</p>

<div class="form_item">
  <span class="label"><%= f.label :environment, 'Environment variables' %></span>
  <table>
    <thead>
      <tr>
        <th>Variable name</th>
        <th>Value</th>
      </tr>
    </thead>
    <tbody>
      <% ((@slave.environment_variables || {}).sort << [(@slave.environment_variables || {}).size, { 'key' => nil, 'value' => nil }]).each do |index, kv| %>
        <tr>
          <td><%= text_field_tag "slave[environment_variables][#{index}][key]", kv['key'] %></td>
          <td><%= text_field_tag "slave[environment_variables][#{index}][value]", kv['value'] %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<p class="form_item">
  <span class="label"><%= f.label :capabilities, 'Slave capabilities' %></span>
  <span class="desc">Separated by commas</span>
  <%= f.text_area :capabilities, :rows => 3 %>
</p>
