<h1><%= t('.listing_slaves') %></h1>

<% if @slaves.empty? %>
  <p><%= t('.there_are_no_slaves_configured_yet') %></p>
  
  <p><%= link_to t('.add_the_first_slave'), new_admin_slave_path %> <strong><%= t('.or') %></strong></p>
  <% form_for [:admin, Slave.new] do |f| %>
    <%= f.hidden_field :name, :value => 'localhost' %>
    <%= f.hidden_field :protocol, :value => 'localhost' %>
    <%= f.submit t('.use_localhost_as_the_first_slave') %>
  <% end %>
<% else %>
  <table class="list">
    <thead>
      <tr>
        <th><%= t('.status') %></th>
        <th><%= t('.protocol') %></th>
        <th><%= t('.name') %></th>
        <th><%= t('.hostname') %></th>
      </tr>
    </thead>
    <tbody>
      <% @slaves.each do |slave| %>
        <tr>
          <td>
            <% if slave.offline %>
              <%= image_tag 'icons/small/offline.png' %> <%= t('.offline') %>
            <% else %>
              <%= image_tag 'icons/small/online.png' %> <%= t('.online') %>
            <% end %>
          </td>
          <td><%= slave.protocol %></td>
          <td><%= link_to slave.name, admin_slave_path(slave) %></td>
          <td><%= slave.hostname %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <p><%= link_to t('.new_slave'), new_admin_slave_path %></p>
<% end %>
