<h1>Listing Slaves</h1>

<% if @slaves.empty? %>
  <p>There are no slaves configured yet.</p>
  
  <p><%= link_to 'Add the first slave', new_admin_slave_path %> <strong>or</strong></p>
  <% form_for [:admin, Slave.new] do |f| %>
    <%= f.hidden_field :name, :value => 'localhost' %>
    <%= f.hidden_field :protocol, :value => 'localhost' %>
    <%= f.submit 'Use localhost as the first slave' %>
  <% end %>
<% else %>
  <table class="list">
    <thead>
      <tr>
        <th>Status</th>
        <th>Protocol</th>
        <th>Name</th>
        <th>Hostname</th>
      </tr>
    </thead>
    <tbody>
      <% @slaves.each do |slave| %>
        <tr>
          <td>
            <% if slave.offline %>
              <%= image_tag 'icons/small/offline.png' %> Offline
            <% else %>
              <%= image_tag 'icons/small/online.png' %> Online
            <% end %>
          </td>
          <td><%= slave.protocol %></td>
          <td><%= link_to slave.name, admin_slave_path(slave) %></td>
          <td><%= slave.hostname %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <p><%= link_to 'New Slave', new_admin_slave_path %></p>
<% end %>
