<h1><%= t('.slave_name', :name => @slave.name) %></h1>

<ul class="action-list">
  <li><%= link_to t('.edit'), edit_admin_slave_path(@slave) %></li>
  <li><%= link_to t('.clone'), new_admin_slave_path(:clone => @slave) %></li>
  <li><%= link_to t('.delete'), admin_slave_path(@slave), :method => :delete, :confirm => t('.delete_confirmation') %></li>
</ul>

<dl>
  <dt><%= t('.offline') %></dt>
  <dd><%= @slave.offline ? t('.yes') : t('.no') %></dd>

  <dt><%= t('.protocol') %></dt>
  <dd><%= @slave.protocol %></dd>

  <dt><%= t('.host_name') %></dt>
  <dd><%= @slave.hostname %>&nbsp;</dd>

  <dt><%= t('.busy') %></dt>
  <dd><%= @slave.busy?.inspect %>&nbsp;</dd>

  <dt><%= t('.capabilities') %></dt>
  <dd><%= @slave.capabilities %>&nbsp;</dd>
</dl>

<p><%= link_to t('.slaves_overview'), admin_slaves_path %></p>
