<h1>Slave <%= @slave.name %></h1>

<ul class="action-list">
  <li><%= link_to 'Edit', edit_admin_slave_path(@slave) %></li>
  <li><%= link_to 'Clone', new_admin_slave_path(:clone => @slave) %></li>
  <li><%= link_to 'Delete', admin_slave_path(@slave), :method => :delete, :confirm => 'Do you really want to delete this slave? This operation can not be undone.' %></li>
</ul>

<dl>
  <dt>Offline</dt>
  <dd><%= @slave.offline ? 'Yes' : 'No' %></dd>

  <dt>Protocol</dt>
  <dd><%= @slave.protocol %></dd>

  <dt>Host name</dt>
  <dd><%= @slave.hostname %>&nbsp;</dd>

  <dt>Busy?</dt>
  <dd><%= @slave.busy?.inspect %>&nbsp;</dd>

  <dt>Capabilities</dt>
  <dd><%= @slave.capabilities %>&nbsp;</dd>
</dl>

<p><%= link_to 'Slaves Overview', admin_slaves_path %></p>
