<h1>Build output <%= link_to @plan.name, project_plan_path(@project, @plan) %> #<%= @build.position %> <%= 'on slave %s' % @build.slave.name if @build.slave %></h1>

<dl>
  <dt>Status</dt>
  <dd><%= image_tag "icons/large/#{@build.status}.png" %> <%= @build.status %></dd>

  <dt>Revision</dt>
  <dd><%= @build.revision.blank? ? 'unknown' : @build.revision %></dd>

  <dt>Duration</dt>
  <dd><%= duration(@build.duration) %>&nbsp;</dd>
  
  <% if @build.starter %>
    <dt>Started by</dt>
    <dd><%= link_to @build.starter.login, user_path(@build.starter) %> (Requested manually)</dd>
  <% end %>
</dl>

<% if @build.running? || @build.pending? %>
  <p><%= stop_link @project, @plan, @build %></p>
<% end %>

<ul class="action-list">
  <li><%= link_to 'Raw output', project_plan_build_path(@project, @plan, @build, :report => 'raw') %></li>
  <li><%= link_to 'Gist', project_plan_build_path(@project, @plan, @build, :report => 'gist') %></li>
  <li><%= link_to 'Details', project_plan_build_path(@project, @plan, @build, :report => 'details') %></li>
</ul>

<div class="report" id="report">
  <%= render :partial => 'report' %>
</div>

<% if @build.finished? %>
  <p><%= image_tag "icons/small/#{@build.status}.png" %> <%= @build.status %></p>
<% elsif @build.running? %>
  <%= image_tag('spinner.gif') %>
<% end %>
