<h1><%= t('.build_output_of_plan', :plan => link_to(@plan.name, project_plan_path(@project, @plan)), :position => @build.position) %> <%= t('.on_slave', :slave_name => @build.slave.name) if @build.slave %></h1>

<dl>
  <dt><%= t('.status') %></dt>
  <dd><%= image_tag "icons/large/#{@build.status}.png" %> <%= @build.status %></dd>

  <dt><%= t('.revision') %></dt>
  <dd><%= @build.revision.blank? ? t('.unknown') : @build.revision %></dd>

  <dt><%= t('.duration') %></dt>
  <dd><%= duration(@build.duration) %>&nbsp;</dd>
  
  <% if @build.starter %>
    <dt><%= t('.started_by') %></dt>
    <dd><%= link_to @build.starter.login, user_path(@build.starter) %> <%= t('.requested_manually') %></dd>
  <% end %>
</dl>

<% if @build.running? || @build.pending? %>
  <p><%= stop_link @project, @plan, @build %></p>
<% end %>

<ul class="action-list">
  <li><%= link_to t('.raw_output'), project_plan_build_path(@project, @plan, @build, :report => 'raw') %></li>
  <li><%= link_to t('.gist'), project_plan_build_path(@project, @plan, @build, :report => 'gist') %></li>
  <li><%= link_to t('.details'), project_plan_build_path(@project, @plan, @build, :report => 'details') %></li>
</ul>

<div class="report" id="report">
  <%= render :partial => 'report' %>
</div>

<% if @build.finished? %>
  <p><%= image_tag "icons/small/#{@build.status}.png" %> <%= @build.status %></p>
<% elsif @build.running? %>
  <%= image_tag('spinner.gif') %>
<% end %>
