<% if builds.empty? %>
  <p><%= t('.no_builds') %></p>
<% else %>
  <table class="list">
    <thead>
      <tr>
        <th><%= t('.number') %></th>
        <th><%= t('.name') %></th>
        <th><%= t('.timestamp') %></th>
        <th><%= t('.status') %></th>
        <th><%= t('.duration') %></th>
      </tr>
    </thead>
    <tbody>
      <% builds.each do |build| %>
        <tr>
          <td><%= link_to build.position, project_plan_build_path(build.project, build.plan, build) %></td>
          <td><%= link_to build.project.name, project_path(build.project) %> / <%= link_to build.name, project_plan_path(build.project, build.plan) %></td>
          <td><%= link_to build.created_at.to_s(:timestamp), project_plan_build_path(build.project, build.plan, build) %></td>
          <td><%= image_tag "icons/small/#{build.status}.png" %> <%= t("build.status.#{build.status}") %></td>
          <td><%= duration(build.duration) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
