<% if builds.empty? %>
  <p>No builds</p>
<% else %>
  <table>
    <thead>
      <tr>
        <th>Number</th>
        <th>Name</th>
        <th>Timestamp</th>
        <th>Status</th>
        <th>Duration</th>
      </tr>
    </thead>
    <tbody>
      <% builds.each do |build| %>
        <tr>
          <td><%= link_to build.position, project_build_path(build.project, build) %></td>
          <td><%= link_to build.name, project_path(build.project) %></td>
          <td><%= link_to build.created_at.to_s, project_build_path(build.project, build) %></td>
          <td><%= build.status %></td>
          <td><%= duration(build.duration) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
