<% if builds.empty? %>
  <p>No builds</p>
<% else %>
  <table class="list">
    <thead>
      <tr>
        <th>Number</th>
        <th>Name</th>
        <th>Timestamp</th>
        <th>Status</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% builds.each do |build| %>
        <tr>
          <td><%= link_to build.position, plan_build_path(build.plan, build) %></td>
          <td><%= link_to build.name, plan_path(build.plan) %></td>
          <td><%= link_to build.created_at.to_s(:timestamp), plan_build_path(build.plan, build) %></td>
          <td><%= image_tag "icons/small/#{build.status}.png" %> <%= build.status %></td>
          <td><%= link_to image_tag("icons/small/stopped.png") + ' Stop', stop_plan_build_path(build.plan, build), :method => :post unless build.finished? %></td>
        </tr>
        <% if build.has_children? %>
          <% build.children.each do |child| %>
            <tr>
              <td></td>
              <td><%= link_to "#{child.name} ##{child.position}", plan_build_path(child.plan, child) %></td>
              <td><%= link_to child.created_at.to_s(:timestamp), plan_build_path(child.plan, child) %></td>
              <td><%= image_tag "icons/small/#{child.status}.png" %> <%= child.status %></td>
              <td><%= link_to image_tag("icons/small/stopped.png") + ' Stop', stop_plan_build_path(child.plan, child), :method => :post unless child.finished? %></td>
            </tr>
          <% end %>
        <% end %>
      <% end %>
    </tbody>
  </table>
<% end %>
