<%= juggernaut :channels => ["queue"] %>

<h1>Builds of Plan <%= link_to @plan.name, plan_path(@plan) %></h1>

<%= auto_update 'queue' %>
<div id="queue">
  <%= render :partial => 'list', :locals => { :builds => @builds } %>
</div>

<p><%= link_to 'Back to Plan', plan_path(@plan) %></p>
