<h1>Builds of Project <%= @project.name %></h1>

<table>
  <thead>
    <tr>
      <th>Number</th>
      <th>Timestamp</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    <% @builds.each do |build| %>
      <tr>
        <td><%= link_to build.position, project_build_path(@project, build) %></td>
        <td><%= link_to build.created_at.to_s, project_build_path(@project, build) %></td>
        <td><%= build.status %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Back to Project', project_path(@project) %>
