<h1>Build output <%= @project.name %> #<%= @build.position %></h1>

<% if @build.output %>
  <% output = SimpleCI::Output.new(@build.output) %>

  <%= render :partial => 'raw_output', :locals => { :output => output } %>

  <div class="report">
    <ul>
      <li><%= render_report SimpleCI::OutputParser::RakeParser.parse(output), :details %></li>
    </ul>
  </div>
<% else %>
  <p>No output (yet)</p>
<% end %>

<%= link_to 'Back to Builds', project_builds_path(@project) %>
