<%= juggernaut :channels => ["build_#{@build.name}_#{@build.position}"] %>

<h1>Build output <%= link_to @project.name, project_path(@project) %> #<%= @build.position %> <%= 'on slave %s' % @build.slave.name if @build.slave %></h1>

<dl>
  <dt>Revision</dt>
  <dd><%= @build.revision.blank? ? 'unknown' : @build.revision %></dd>
</dl>

<% if @build.running? || @build.pending? %>
  <p><%= link_to 'Stop', stop_project_build_path(@project, @build), :method => :post %></p>
<% end %>

<p>
  <%= link_to 'Raw output', project_build_path(@project, @build, :report => 'raw') %> |
  <%= link_to 'Gist', project_build_path(@project, @build, :report => 'gist') %> |
  <%= link_to 'Details', project_build_path(@project, @build, :report => 'details') %>
</p>

<div class="report" id="report">
  <%= render :partial => 'report' %>
</div>
<div id="bottom_anchor"></div>

<p><%= link_to 'Back to Builds', project_builds_path(@project) %></p>
