<h1>Build output <%= @project.name %> #<%= @build.position %></h1>

<% if @build.output %>
  <% output = SimpleCI::Output.new(@build.output) %>

  <div class="raw-output">
  <table>
    <tbody>
      <% last_command = last_timestamp = nil %>
      <% output.each_with_index do |row, i| %>
        <tr>
          <td class="row"><%= i %></td>
          <td class="timestamp"><%= row.timestamp.strftime("%H:%M:%S") unless row.timestamp.to_i == last_timestamp %></td>
          <td class="command"><%= row.command unless row.command == last_command %></td>
          <td class="line"><%= row.line %></td>
        </tr>
        <% last_command = row.command; last_timestamp = row.timestamp.to_i %>
      <% end %>
    </tbody>
  </table>
  </div>

  <div class="report">
    <ul>
      <li><%= SimpleCI::OutputParser::RakeParser.parse(output).to_html(:gist) %></li>
    </ul>
  </div>
<% else %>
  <p>No output (yet)</p>
<% end %>

<%= link_to 'Back to Builds', project_builds_path(@project) %>
