<h1>Build output <%= @project.name %> #<%= @build.position %></h1>

<p>
  <%= link_to 'Raw output', :action => 'show', :report => 'raw' %> |
  <%= link_to 'Gist', :action => 'show', :report => 'gist' %> |
  <%= link_to 'Details', :action => 'show', :report => 'details' %>
</p>

<%= render :partial => 'report' %>

<%= link_to 'Back to Builds', project_builds_path(@project) %>
