<%= juggernaut :channels => ["queue"] %>

<h2>Quick links</h2>

<ul class="asterisk">
  <li><%= link_to 'Create a plan', new_plan_path %></li>
  <li><%= link_to 'Manage build slaves', admin_slaves_path %></li>
</ul>

<%= auto_update 'queue' %>
<div id="queue">
  <%= render :partial => "queue" %>
</div>
