<h2>Edit <%= @user.login %>'s Profile</h2>

<% form_for @user do |f| %>
  <%= f.error_messages %>

  <p class="form_item">
    <span class="label"><%= f.label :email, 'E-Mail Address' %></span>
    <span class="desc">The email address is used for notifications.</span>
    <%= f.text_field :email %>
  </p>
  
  <% if current_user.can_assign_roles? %>
    <p class="form_item">
      <span class="label"><%= f.label :role, 'Role' %></span>
      <span class="desc">The user's role. Set to "user" for normal user accounts.</span>
      <%= f.select :role, ['user', 'admin'] %>
    </p>
  <% end %>
  
  <%= f.submit 'Update' %>
<% end %>
