<a href="#">Test Run <%= report.name %></a>
<div>
  <h3>Summary</h3>

  <dl>
    <dt>Total time</dt>
    <dd><%= report.summary.total_time %>&nbsp;</dd>
    <dt>Tests</dt>
    <dd><%= report.summary.tests %>&nbsp;</dd>
    <dt>Assertions</dt>
    <dd><%= report.summary.assertions %>&nbsp;</dd>
    <dt>Failures</dt>
    <dd><%= report.summary.failures %>&nbsp;</dd>
    <dt>Errors</dt>
    <dd><%= report.summary.errors %>&nbsp;</dd>
  </dl>

  <h3>Details</h3>

  <ul class="test-report">
    <% report.tests.sort_by { |name, test| name }.each do |name, test| %>
      <li>
        <a href="#"><%= test.name %></a>
        <div>
          <table>
            <thead>
              <tr>
                <th class="name">Test Case</th>
                <th class="status">Status</th>
              </tr>
            </thead>
            <tbody>
              <% test.test_cases.each do |test_case| %>
                <tr class="<%= test_case.status %>">
                  <td class="name"><%= test_case.name %></td>
                  <td class="status"><%= test_case.status %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </li>
    <% end %>
  </ul>
</div>
