<%= f.error_messages %>

<p class="form_item">
  <span class="label"><%= f.label :name, 'Name' %></span>
  <span class="desc">The project's name will appear in the URL. Changes to the name will change all URLs for this project. Only characters, numbers, underscores and dashes are allowed in the name.</span>
  <%= f.text_field :name %>
</p>

<p class="form_item">
  <span class="label"><%= f.label :description, 'Description' %></span>
  <%= f.text_area :description, :rows => 5 %>
</p>
