<p class="form_item">
  <span class="label"><%= f.label :name, 'Parent project' %></span>
  <%= f.select :parent_id, Project.root_set.reject { |p| p == @project }.collect { |p| [p.name, p.id] }, :include_blank => true %>
</p>

<p class="form_item">
  <span class="label"><%= f.label :name, 'Name' %></span>
  <%= f.text_field :name %>
</p>

<p class="form_item">
  <span class="label"><%= f.label :description, 'Description' %></span>
  <%= f.text_area :description, :rows => 5 %>
</p>

<p class="form_item">
  <span class="label"><%= f.label :steps, 'Steps' %></span>
  <%= f.text_area :steps, :rows => 10 %>
</p>
