<p class="form_item">
  <span class="label"><%= f.label :name, 'Name' %></span>
  <%= f.text_field :name %>
</p>

<p class="form_item">
  <span class="label"><%= f.label :description, 'Description' %></span>
  <%= f.text_area :description, :rows => 5 %>

<p class="form_item">
  <span class="label"><%= f.label :steps, 'Steps' %></span>
  <%= f.text_area :steps, :rows => 10 %>
</p>
