<table class="list">
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th>Name</th>
      <th>Description</th>
      <th>Last Build time</th>
      <th>Last Success</th>
      <th>Last Failure</th>
    </tr>
  </thead>
  <tbody>
    <% projects.each do |project| %>
      <tr>
        <td><%= image_tag "icons/small/#{project.status}.png" if project.status %></td>
        <td><%= image_tag "icons/small/weather-#{project.weather}.png", :title => "%d of the last 5 builds were successful" % project.weather if project.weather %></td>
        <td><%= link_to project.name, project_path(project) %></td>
        <td><%= truncate project.description, :length => 40 %></td>
        <td><%= project.last_build_time ? duration(project.last_build_time) : 'unknown' %></td>
        <td><%= project.last_succeeded_at ? "%s ago" % time_ago_in_words(project.last_succeeded_at) : 'unknown' %></td>
        <td><%= project.last_failed_at ? "%s ago" % time_ago_in_words(project.last_failed_at) : 'unknown' %></td>
      </tr>
    <% end %>
  </tbody>
</table>
