<h1><%= t('.listing_projects') %></h1>

<table class="list">
  <thead>
    <tr>
      <th><%= t('.name') %></th>
      <th><%= t('.description') %></th>
      <th><%= t('.options') %></th>
    </tr>
  </thead>
  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td><%= link_to project.name, project_plans_path(project) %></td>
        <td><%= truncate project.description, :length => 40 %></td>
        <td><%= link_to t('.edit'), edit_project_path(project) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<% if current_user.can_create_projects? %>
  <p><%= link_to t('.new_project'), new_project_path %></p>
<% end %>
