<h1>Listing Projects</h1>

<ul class="action-list">
  <li><%= link_to 'Details', projects_path(:report => 'list') %></li>
  <li><%= link_to 'Overview', projects_path(:report => 'overview') %></li>
</ul>

<%= auto_update 'projects' %>
<div id="projects">
  <%= render :partial => @report, :locals => { :projects => @projects } %>
</div>

<p><%= link_to 'New Project', new_project_path %></p>
