<h1>Project <%= @project.name %></h1>

<p><%= link_to 'Edit', edit_project_path(@project) %> | <%= link_to 'Builds', project_builds_path(@project) %></p>

<% if @project.previous || @project.next %>
  <h2>Build chain</h2>
  
  <table>
    <tr>
      <% if @project.previous %>
        <td><%= link_to @project.previous.name, project_path(@project.previous) %></td>
      <% end %>
      <td><%= @project.name %></td>
      <% if @project.next %>
        <td><%= link_to @project.next.name, project_path(@project.next) %></td>
      <% end %>
    </tr>
  </table>
<% end %>

<% if @project.has_children? %>
  <h2>Children</h2>
  
  <%= render :partial => "list", :locals => { :projects => @project.children } %>
<% end %>

<h2>Project details</h2>

<p><strong>Description</strong></p>
<%= simple_format @project.description %>

<p><strong>Steps</strong></p>
<pre><%= @project.steps %></pre>

<% if @project.standalone? %>
  <%= button_to 'Build now', project_builds_path(@project) %>
<% else %>
  <p><%= link_to 'Back to parent project %s' % @project.parent.name, project_path(@project.parent) %></p>
<% end %>
