<h1>Project <%= @project.name %></h1>

<p><%= link_to 'Edit', edit_project_path(@project) %> | <%= link_to 'Builds', project_builds_path(@project) %></p>

<p><strong>Description</strong></p>
<%= simple_format @project.description %>

<p><strong>Steps</strong></p>
<pre><%= @project.steps %></pre>

<% if @project.standalone? %>
  <%= button_to 'Build now', project_builds_path(@project) %>
<% else %>
  <p><%= link_to 'Back to parent project %s' % @project.parent.name, project_path(@project.parent) %></p>
<% end %>

<% if @project.has_children? %>
  <p><strong>Children</strong></p>
  
  <%= render :partial => "list", :locals => { :projects => @project.children } %>
<% end %>
