<a href="#"><%= t('report.build') %></a>
<div>
  <dl>
    <dt><%= t('report.build_tool') %></dt>
    <dd><%= report.build_tool %></dd>
    <dt><%= t('report.targets') %></dt>
    <dd><%= report.targets %></dd>
  </dl>

  <h2><%= t('report.tasks') %></h2>

  <ul>
    <%= report.tasks.collect { |task| render_report task, :gist }.reject { |html| html.strip.blank? }.collect { |html| %{<li>#{html}</li>} }.join("\n") %>
  </ul>
</div>
