<a href="#"><%= t('report.test_run', :name => report.name) %></a>

<div>
  <dl>
    <dt><%= t('report.total_time') %></dt>
    <dd><%= report.summary.total_time %></dd>
    <dt><%= t('report.tests') %></dt>
    <dd><%= report.summary.tests %></dd>
    <dt><%= t('report.assertions') %></dt>
    <dd><%= report.summary.assertions %></dd>
    <dt><%= t('report.failures') %></dt>
    <dd><%= report.summary.failures %></dd>
    <dt><%= t('report.errors') %></dt>
    <dd><%= report.summary.errors %></dd>
  </dl>
</div>
