<%= f.error_messages %>
<%= f.hidden_field :parent_id %>

<p class="form_item">
  <span class="label"><%= f.label :name, 'Name' %></span>
  <%= f.text_field :name %>
</p>

<p class="form_item">
  <span class="label"><%= f.label :description, 'Description' %></span>
  <%= f.text_area :description, :rows => 5 %>
</p>

<p class="form_item">
  <span class="label"><%= f.label :repository_url, 'Repository URL' %></span>
  <%= f.text_field :repository_url %>
</p>

<p class="form_item">
  <span class="label"><%= f.label :steps, 'Steps' %></span>
  <%= f.text_area :steps, :rows => 10 %>
</p>

<p class="form_item">
  <span class="label"><%= f.label :requirements, 'Plan requirements' %></span>
  <span class="desc">Capabilities a build slave must have to build this plan, separated by commas</span>
  <%= f.text_area :requirements, :rows => 3 %>
</p>

<% unless @plan.parent %>
  <h2>Run this plan after</h2>

  <p class="form_item">
    <span class="label"><%= f.label :previous_plan_id, 'Previous Plan' %></span>
    <%= f.select :previous_plan_id, @project.root_plans.reject { |p| p == @plan }.collect { |p| [p.name, p.id] }, :include_blank => true %>
  </p>
<% end %>
