<h1><%= t('.listing_plans') %></h1>

<ul class="action-list">
  <li><%= link_to t('.details'), project_plans_path(@project, :report => 'list') %></li>
  <li><%= link_to t('.overview'), project_plans_path(@project, :report => 'overview') %></li>
</ul>

<%= auto_update 'plans' %>
<div id="plans">
  <%= render :partial => @report, :locals => { :plans => @plans } %>
</div>

<% if current_user.can_create_plans? %>
  <p><%= link_to t('.new_plan'), new_project_plan_path(@project) %></p>
<% end %>
