<h1>Listing Plans</h1>

<ul class="action-list">
  <li><%= link_to 'Details', project_plans_path(@project, :report => 'list') %></li>
  <li><%= link_to 'Overview', project_plans_path(@project, :report => 'overview') %></li>
</ul>

<%= auto_update 'plans' %>
<div id="plans">
  <%= render :partial => @report, :locals => { :plans => @plans } %>
</div>

<p><%= link_to 'New Plan', new_project_plan_path(@project) %></p>
