<h1>Listing Plans</h1>

<ul class="action-list">
  <li><%= link_to 'Details', plans_path(:report => 'list') %></li>
  <li><%= link_to 'Overview', plans_path(:report => 'overview') %></li>
</ul>

<%= auto_update 'plans' %>
<div id="plans">
  <%= render :partial => @report, :locals => { :plans => @plans } %>
</div>

<p><%= link_to 'New Plan', new_plan_path %></p>
