<h1>Plan <%= @plan.name %></h1>

<ul class="action-list">
  <li><%= link_to 'Edit', edit_project_plan_path(@project, @plan) %></li>
  <li><%= link_to 'Builds', project_plan_builds_path(@project, @plan) %></li>
  <li><%= link_to 'Clone', new_project_plan_path(@project, :clone => @plan) %></li>
  <% unless @plan.parent %>
    <li><%= link_to 'New Child Plan', new_project_plan_path(@project, :parent => @plan) %></li>
  <% end %>
  <li><%= link_to 'Delete', project_plan_path(@project), :method => :delete, :confirm => 'Do you really want to delete this plan and all its children and builds? This operation can not be undone.' %></li>
</ul>

<% if @plan.previous || @plan.next %>
  <h2>Build chain</h2>
  
  <table>
    <tr>
      <% if @plan.previous %>
        <td><%= link_to @plan.previous.name, project_plan_path(@project, @plan.previous) %></td>
      <% end %>
      <td><%= @plan.name %></td>
      <% if @plan.next %>
        <td><%= link_to @plan.next.name, project_plan_path(@project, @plan.next) %></td>
      <% end %>
    </tr>
  </table>
<% end %>

<% if @plan.has_children? %>
  <h2>Children</h2>
  
  <%= render :partial => "list", :locals => { :plans => @plan.children } %>
<% end %>

<h2>Plan details</h2>

<dl>
  <% if @plan.status %>
    <dt>Status</dt>
    <dd><%= image_tag "icons/large/#{@plan.status}.png" %> <%= @plan.status %> <%= link_to 'Latest Build', project_plan_build_path(@project, @plan, @plan.last_finished_build) %></dd>
  <% end %>

  <% if @plan.weather %>
    <dt>Weather</dt>
    <dd><%= image_tag "icons/large/weather-#{@plan.weather}.png" %> <%= @plan.weather %> of the last 5 builds were successful.</dd>
  <% end %>

  <dt>Description</dt>
  <dd><%= simple_format @plan.description %></dd>

  <dt>Steps</dt>
  <dd><pre><%= @plan.steps %></pre></dd>

  <dt>Requirements</dt>
  <dd><%= @plan.requirements %></dd>
</dl>

<% if @plan.standalone? %>
  <%= button_to 'Build now', project_plan_builds_path(@project, @plan) %>
<% else %>
  <p><%= link_to 'Back to parent plan %s' % @plan.parent.name, project_plan_path(@project, @plan.parent) %></p>
<% end %>

<p>Back to project <%= link_to @project.name, project_plans_path(@project) %></p>
