<h1><%= t('.plan_name', :name => @plan.name) %> <%= t('.child_of_parent_plan', :parent_plan => link_to(@plan.parent.name, project_plan_path(@project, @plan.parent))) if @plan.parent %></h1>

<ul class="action-list">
  <% if current_user.can_edit_plan?(@plan) %>
    <li><%= link_to t('.edit'), edit_project_plan_path(@project, @plan) %></li>
  <% end %>
  <li><%= link_to t('.builds'), project_plan_builds_path(@project, @plan) %></li>
  <% if current_user.can_create_plans? %>
    <li><%= link_to t('.clone'), new_project_plan_path(@project, :clone => @plan) %></li>
  <% end %>
  <% if @plan.parent %>
    <% if current_user.can_edit_plan?(@plan) %>
      <li><%= link_to t('.move_to_another_parent'), child_project_plan_path(@project) %></li>
      <li><%= link_to t('.convert_to_standalone_plan'), project_plan_path(@project, :plan => { :parent_id => nil }), :method => :put %></li>
    <% end %>
  <% else %>
    <% if current_user.can_create_plans? %>
      <li><%= link_to t('.new_child_plan'), new_project_plan_path(@project, :parent => @plan) %></li>
    <% end %>
    <% if !@plan.has_children? && current_user.can_edit_plan?(@plan) %>
      <li><%= link_to t('.convert_to_child_plan'), child_project_plan_path(@project) %></li>
    <% end %>
  <% end %>
  <% if current_user.can_destroy_plan?(@plan) %>
    <li><%= link_to t('.delete'), project_plan_path(@project), :method => :delete, :confirm => t('.confirm_delete') %></li>
  <% end %>
</ul>

<% if @plan.previous || @plan.next %>
  <h2><%= t('.build_chain') %></h2>
  
  <table>
    <tr>
      <% if @plan.previous %>
        <td><%= link_to @plan.previous.name, project_plan_path(@project, @plan.previous) %></td>
      <% end %>
      <td><%= @plan.name %></td>
      <% if @plan.next %>
        <td><%= link_to @plan.next.name, project_plan_path(@project, @plan.next) %></td>
      <% end %>
    </tr>
  </table>
<% end %>

<% if @plan.has_children? %>
  <h2><%= t('.children') %></h2>
  
  <%= render :partial => "list", :locals => { :plans => @plan.children } %>
<% end %>

<h2><%= t('.plan_details') %></h2>

<dl>
  <% if @plan.status %>
    <dt><%= t('.status') %></dt>
    <dd><%= image_tag "icons/large/#{@plan.status}.png" %> <span><%= @plan.status %> <%= link_to t('.latest_build'), project_plan_build_path(@project, @plan, @plan.last_finished_build) %></span></dd>
  <% end %>

  <% if @plan.weather %>
    <dt><%= t('.weather') %></dt>
    <dd><%= image_tag "icons/large/weather-#{@plan.weather}.png" %> <span><%= @plan.weather %> of the last 5 builds were successful.</span></dd>
  <% end %>

  <dt><%= t('.description') %></dt>
  <dd><%= simple_format @plan.description %></dd>

  <dt><%= t('.steps') %></dt>
  <dd><pre><%= @plan.steps %></pre></dd>

  <dt><%= t('.requirements') %></dt>
  <dd><%= @plan.requirements %>&nbsp;</dd>
  
  <% if @plan.standalone? %>
    <dt><%= t('.commit_hook') %></dt>
    <dd>
      <table>
        <tr>
          <th><%= t('.url') %></th>
          <td><%= text_field_tag nil, project_plan_builds_url(@project, @plan), :size => 80 %></td>
        </tr>
        <tr>
          <th>wget</th>
          <td><%= text_field_tag nil, %{wget --post-data="" --output-file=/dev/null #{project_plan_builds_url(@project, @plan)}}, :size => 80 %></td>
        </tr>
        <tr>
          <th>curl</th>
          <td><%= text_field_tag nil, %{curl --data "" --output /dev/null --silent #{project_plan_builds_url(@project, @plan)}}, :size => 80 %></td>
        </tr>
      </table>
    </dd>
  <% end %>
</dl>

<% if @plan.standalone? %>
  <%= button_to t('.build_now'), project_plan_builds_path(@project, @plan) %>
<% else %>
  <p><%= link_to t('.back_to_parent_plan', :parent => @plan.parent.name), project_plan_path(@project, @plan.parent) %></p>
<% end %>

<p><%= t('.back_to_project', :link => link_to(@project.name, project_plans_path(@project))) %></p>
