<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="de" lang="de">
  <head>
    <title>TinyCI</title>
    <%= javascript_include_tag :defaults %>
    <%= javascript_include_tag :juggernaut unless setup? %>
    <%= stylesheet_link_tag 'style' %>
  </head>
  <body>
    <!-- wrap start -->
    <div id="wrap">
    <div class="wrap_corner_right">

      <!-- topcontent -->
      <div id="topcontent">

        <!-- header start -->
        <div id="header">

          <!-- topheader start -->
          <div id="top_header">
            <div id="logo">
              <h1><a href="/">TinyCI</a></h1>
              <p>Continuous Integration for Ruby on Rails</p>
            </div>
            <div id="center_header">
              <div id="suggestion">
                <div class="suggestion_corner_right">
                  <span>Found a bug? <a href="http://github.com/tkadauke/tiny_ci/issues">Report it!</a></span>
                </div>
              </div>
            </div>
            <!-- <div id="right_header">
              <a href="register.html" class="first">Login</a> | <a href="register.html">Join</a>
            </div> -->
            <div class="clearer"></div>
          </div>
          <!-- topheader end -->

          <!-- menu start -->
          <div id="menu_container">
            <div id="menu">
              <ul>
                <% if setup? %>
                  <li><a href="/admin/setup" class="first">Setup</a></li>
                  <li>&nbsp;</li>
                <% else %>
                  <li><a href="/" class="first">Home</a></li>
                  <li><a href="/projects">Projects</a></li>
                  <li><a href="/admin/slaves">Slaves</a></li>
                  <li><a href="/help_topics">Help</a></li>
                <% end %>
              </ul>
            </div>
            <div class="clearer"></div>
          </div>
          <!-- menu end -->

        </div>
        <!-- header end -->

      <!-- body start -->

      <div id="body">
        <p>You are here: <%= bread_crumb %></p>
        <%= yield %>
      <div class="clearer"></div>

      </div>
      <!-- body end -->

      </div>
      <!-- topcontent end -->

      <!-- footer start -->
      <div id="bottomcontent">
      <div class="bottomcontent_right">
        <div id="footer">
        <div class="footer_corner_right">
          <div class="left">
          <a href="/">Home</a> | 
          <a href="/projects">Projects</a> |
          <a href="/admin/slaves">Slaves</a>
          </div>
          <div class="clearer"></div>
        </div>
        </div>
      </div>
      </div>
      <!-- footer end -->

    </div>
    </div>
    <!-- wrap end -->

    <div class="bottom_space">
      <div id="ads_page_end">
        <h1>Quick links</h1>
        <div id="links">
          <a href="http://github.com/tkadauke/tiny_ci">Github project page</a>
        </div>
      </div>
    </div>
  </body>
</html>
