<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <title>TinyCI</title>
    <%= javascript_include_tag :defaults %>
    <%= javascript_include_tag :juggernaut unless setup? %>
    <%= stylesheet_link_tag 'style' %>
  </head>
  <body>
    <!-- wrap start -->
    <div id="wrap">
    <div class="wrap_corner_right">

      <!-- topcontent -->
      <div id="topcontent">

        <!-- header start -->
        <div id="header">

          <!-- topheader start -->
          <div id="top_header">
            <div id="logo">
              <h1><a href="/">TinyCI</a></h1>
              <p>Continuous Integration for Ruby on Rails</p>
            </div>
            <div id="center_header">
              <div id="suggestion">
                <div class="suggestion_corner_right">
                  <span>Found a bug? <a href="http://github.com/tkadauke/tiny_ci/issues">Report it!</a></span>
                </div>
              </div>
            </div>
            <div id="right_header">
              <% if logged_in? %>
                <ul class="action-list">
                  <li>Welcome, <%= current_user.login %>!</li>
                  <li><%= link_to 'Settings', settings_path %></li>
                  <li><%= link_to 'Logout', logout_path, :method => :delete %></li>
                </ul>
              <% else %>
                <ul class="action-list">
                  <li>Welcome, Guest!</li>
                  <li><%= link_to 'Login', login_path %></li>
                  <li><%= link_to 'Signup', new_user_path %></li>
                </ul>
              <% end %>
            </div>
            <div class="clearer"></div>
          </div>
          <!-- topheader end -->

          <!-- menu start -->
          <div id="menu_container">
            <div id="menu">
              <ul>
                <li><a href="/" class="first">Home</a></li>
                <li><a href="/projects">Projects</a></li>
                <li><a href="/users">Users</a></li>
                <% if current_user.can_configure_slaves? %>
                  <li><a href="/admin/slaves">Slaves</a></li>
                <% end %>
                <% if current_user.can_configure_system_variables? %>
                  <li><a href="/admin/configuration">Configuration</a></li>
                <% end %>
                <li><a href="/help_topics">Help</a></li>
              </ul>
            </div>
            <div class="clearer"></div>
          </div>
          <!-- menu end -->

        </div>
        <!-- header end -->

      <!-- body start -->

      <div id="body">
        <% if flash[:error] %>
          <div id="flash" class="error">
            <%= flash[:error] %>
            <%= link_to_function 'Close', "$('flash').fade()" %>
          </div>
        <% elsif flash[:notice] %>
          <div id="flash" class="notice">
            <%= flash[:notice] %>
            <%= link_to_function 'Close', "$('flash').fade()" %>
          </div>
        <% end %>
        <p>You are here: <%= bread_crumb %></p>
        <%= yield %>
      <div class="clearer"></div>

      </div>
      <!-- body end -->

      </div>
      <!-- topcontent end -->

      <!-- footer start -->
      <div id="bottomcontent">
      <div class="bottomcontent_right">
        <div id="footer">
        <div class="footer_corner_right">
          <div class="left">
          <a href="/">Home</a> | 
          <a href="/projects">Projects</a> |
          <a href="/users">Users</a>
          </div>
          <div class="clearer"></div>
        </div>
        </div>
      </div>
      </div>
      <!-- footer end -->

    </div>
    </div>
    <!-- wrap end -->

    <div class="bottom_space">
      <div id="ads_page_end">
        <h1>Quick links</h1>
        <div id="links">
          <a href="http://github.com/tkadauke/tiny_ci">Github project page</a>
        </div>
      </div>
    </div>
  </body>
</html>
